.loginform {
  text-align: center;
  margin: 94px auto;
  border: none;
  width: 370px;
  font-family: "roboto";
}

.loginform h3 {
  padding-bottom: 30px;
}

.loginform h3 {
  font-size: 30px;
  font-weight: 700;
  color: #212121;
}

.loginform input {
  color: #666;
  border: 1px solid #ccc;
  outline: none;
}

.loginform .loginform__input input {
  width: 370px;
  padding: 5px 20px;
  border-radius: 0;
  margin-bottom: 5px;
  line-height: 2.14;
}

.loginform .loginform__input input:focus {
  background-color: rgb(238, 238, 238);
}

.loginform .loginform__submit input {
  border: none;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #7cb342;
  width: 370px;
  border-radius: 0;
  margin-bottom: 5px;
}

.loginform .loginform__line {
  margin: 33px 0;
}

.loginform .loginform__line div {
  width: 370px;
  height: 1px;
  background: #dedede;
  margin: 0 auto;
}

.loginform .loginform__login p {
  font-size: 14px;
  font-family: "roboto";
  color: #616161;
}

.loginform__error {
  color: lightcoral;
}
