footer {
  display: block;
}

.footer-primary {
  background: #111;
  padding: 23px 0 0;
  min-height: 75px;
  line-height: 2.14;
}

.footer-primary:before,
.footer-primary:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.footer-primary:after {
  clear: both;
}

.footer-secondary {
  border-bottom: 1px solid #212121;
  padding: 58px 0 45px;
  font-size: 14px;
  color: #616161;
  background: #111;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 1200px) .container {
  width: 1200px;
}
@media (min-width: 992px) .container {
  width: 970px;
}
@media (min-width: 768px) .container {
  width: 750px;
}

/* Col-md */
@media (min-width: 992px) .col-md-3, .col-md-6 {
  float: left;
}

.col-md-3,
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Col-md-3 */

@media (min-width: 992px) .col-md-3 {
  width: 25%;
}

/* Col-md-6 */
@media (min-width: 992px) .col-md-6 {
  width: 50%;
}

/* Widget */
.widget {
  border: none;
  padding-top: 0;
  padding-bottom: 15px;
}

.widget__contact-info {
  line-height: 1.7;
}

.widget__title:before {
  background-color: #7cb342;
  content: "";
  position: absolute;
  background: #7cb342;
  width: 30px;
  height: 2px;
  bottom: 0;
}

.widget__title {
  position: relative;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.33;
  padding: 0 0 11px;
}

.widget__title {
  margin: 0 0 25px;
  margin-top: -2px;
}
.widget__title {
  color: #fff;
}

.footer-secondary .widget__contact-info p.intro {
  margin-bottom: 20px;
}

.widget__contact-info p {
  margin-top: 0;
}

.widget__contact-info .footer__logo {
  margin-bottom: 27px;
}

/* Site info */
.site-info {
  margin-left: -15px;
  font-size: 14px;
  line-height: 2.14;
  color: #616161;
}

/* Wiget Nav Menu */
.footer-secondary .widget__nav_menu ul {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-secondary .widget__nav_menu li {
  width: 100%;
}
.footer-secondary .widget__nav_menu li {
  float: left;
  flex-grow: 1;
}
.widget li {
  position: relative;
  font-weight: 500;
}
.widget__nav_menu li {
  margin-bottom: 10px;
  min-height: 15px;
}

.widget__nav_menu li a {
  color: #616161;
}
.footer-secondary a {
  text-decoration: none;
}

/* Secured Payment */
.footer-4 .widget_custom_html {
  padding: 0 20px;
  line-height: 50px;
  border: 2px solid #616161;
  border-radius: 10px;
  width: 200px;
}

.fa-lock:before {
  content: "\f023";
}

.footer-4 .fa-lock {
  font-size: 22px;
  top: 3px;
  position: relative;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
